@use "../abstracts/" as abs;

.article-page-header-container {
  @include abs.container-background-liner(100%, 350px, false, false);
  .article-page-header {
    z-index: 10;
    position: relative;
    h1 {
      text-align: center;
      font-size: abs.rem(52px);
      margin-bottom: abs.rem(45px);
      @media (width <= abs.$sm) {
        font-size: abs.rem(36px);
      }
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: abs.rem(30px);
      li {
        display: flex;
        align-items: center;
        gap: abs.rem(7px);
        font-size: abs.rem(18px);
        text-transform: capitalize;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

// .article-page-main-image {
//   width: 90%;
//   height: 400px;
//   background-size: cover;
//   background-position: top;
//   background-repeat: no-repeat;
//   margin-block: abs.rem(35px);
//   border-radius: 15px;
//   margin-inline: auto;
// }

.article-page-content-container {
  padding: abs.rem(20px);
  text-wrap: pretty;
  @include abs.articleDefault();
}

.article-page-hero-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-block: abs.rem(35px);
  border-radius: 15px;
  margin-inline: 15px;
  @media (width <= 630px) {
    height: 260px;
  }
  @media (width <= 400px) {
    height: 230px;
  }
}

.article-page-hero-blur-bg {
  position: absolute;
  inset: 0;
  filter: blur(10px) brightness(0.7);
  transform: scale(1.1);
  z-index: 0;
}

.article-page-hero-image {
  position: relative;
  z-index: 1;
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}
