@use "../abstracts/" as abs;

.articles-filter-select-container {
  gap: abs.rem(15px);
}

.articles-filter-label {
  opacity: 0;
  transform: translateY(-10px);
  color: abs.$secondary;
  font-weight: 500;
  transition: opacity 0.3s ease, transform 0.3s ease;
  user-select: none;
  margin-bottom: abs.rem(8px);
  display: inline-block;
  &[data-label-show="true"] {
    opacity: 1;
    transform: translateY(0);
    user-select: text;
  }
}

.articles-filter-main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: abs.rem(45px);
}

.articles-filter-clear-button {
  background-color: transparent;
  outline: 1px solid abs.$secondary;
  text-transform: capitalize;
  cursor: pointer;
  border: 0;
  padding: abs.rem(8px) abs.rem(35px);
  border-radius: 5px;
  max-width: 200px;
  color: rgba(abs.$secondary, 0.8);
  min-width: 122px;
  align-self: flex-end;
  margin-bottom: abs.rem(3px);
  opacity: 0;
  transition: opacity 0.4s ease;
  user-select: none;
  &:hover,
  &:focus-visible {
    outline: 2px solid abs.$secondary;
    color: rgba(abs.$secondary, 1);
  }
  &[data-show="true"] {
    opacity: 1;
    user-select: all;
  }
}

.articles-filter-autocomplete-container {
  margin-bottom: abs.rem(3px);
}

.articles-filter-sort-container {
  .select-selected-value {
    max-width: 220px;
  }
}

.articles-filter-popover-container[data-trigger="Select"] {
  width: 160px;
}
