//COLORS

$text: #040316;
$background: #ffffff;
$primary: #a8c66c;
$secondary: #847647;
$accent: #e8e2d3;

$black: black;
$white: white;

//

$section-space: 80px;

$padding-space: 20px;

//BREAKPOINTS

$sm: 36rem; // 576px
$md: 48rem; // 768px
$lg: 62rem; // 992px
$xl: 75rem; // 1200px
$xxl: 87.5rem; // 1400px
