@use "../abstracts" as abs;

body {
  background-color: abs.$background;
  color: abs.$text;
  font-family: Inter, sans-serif;
  * {
    // border: 1px dotted red --> for dev;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-inline-size: 1240px;
  margin-inline: auto;
  position: relative;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
