@font-face {
  font-family: Inter;
  src: url(../../../../public/fonts/Inter/Inter-VariableFont_opsz_wght.ttf);
}

@font-face {
  font-family: Inter-Italic;
  src: url(../../../../public/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf);
}
